<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DcimsTeacherMapper">

    <resultMap type="com.ruoyi.system.domain.DcimsTeacher" id="DcimsTeacherResult">
        <result property="id" column="id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="name" column="name"/>
        <result property="college" column="college"/>
        <result property="department" column="department"/>
        <result property="major" column="major"/>
        <result property="title" column="title"/>
        <result property="education" column="education"/>
        <result property="degree" column="degree"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="isZust" column="is_zust"/>
        <result property="deleted" column="deleted"/>
    </resultMap>
<!--    根据教职工Id批量插入-->
    <insert id="insertByTeacherIds">
        <foreach collection="teachersNotExist" item="teacher" separator=",">
            insert into dcims_teacher ( teacher_id,name, college, department, major, title, education, degree, phone, email)
            values
            (#{teacher.teacherId},#{teacher.name},#{teacher.college},#{teacher.department},#{teacher.major},#{teacher.title}
            ,#{teacher.education},#{teacher.degree},#{teacher.phone},#{teacher.email})
        </foreach>
    </insert>

    <!--    根据教师Id批量更新-->
    <update id="updateByTeacherIds">
        <foreach collection="teacherAlreadeExist" item="teacher" open="" close="" separator=",">
            update dcims_teacher
            <set>
                <if test="item.name != null">name =#{item.name}, </if>
                <if test="item.college != null">college=#{item.college},</if>
                <if test="item.department != null">department=#{department},</if>
                <if test="item.major != null">major=#{item.major},</if>
                <if test="item.title != null">title=#{item.title},</if>
                <if test="item.education != null">education=#{item.education},</if>
                <if test="item.degree != null">degree=#{item.degree},</if>
                <if test="item.phone != null">phone=#{item.phone},</if>
                <if test="item.email != null">email=#{item.email},</if>
            </set>
            where
                teacher_id = #{item.teacherId}
        </foreach>
    </update>



    <!--根据Id更新数据-->
<!--    <update id="updateByTeacherIds">-->
<!--        <foreach collection="teacherAlreadeExist" item="teacher" index="index" open="" close="" separator=";">-->
<!--        update dcims_teacher-->
<!--        <set>-->
<!--            <if test="name !=null ">name = #{teacher.name},</if>-->
<!--            <if test="college !=null ">college = #{teacher.college},</if>-->
<!--            <if test="department !=null ">department = #{teacher.department},</if>-->
<!--            <if test="major !=null ">major = #{teacher.major},</if>-->
<!--            <if test="title !=null ">title = #{teacher.title},</if>-->
<!--            <if test="education !=null ">education = #{teacher.education},</if>-->
<!--            <if test="degree !=null ">degree = #{teacher.degree},</if>-->
<!--            <if test="phone !=null ">phone = #{teacher.phone},</if>-->
<!--            <if test="email !=null ">email = #{teacher.email},</if>-->
<!--            <if test="isZust !=null ">is_zust = #{teacher.isZust},</if>-->
<!--        </set>-->
<!--            where teacher_id =#{teacher.teacherId}-->
<!--        </foreach>-->
<!--    </update>-->


</mapper>
