<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DcimsStudentMapper">

    <resultMap type="com.ruoyi.system.domain.DcimsStudent" id="DcimsStudentResult">
        <result property="id" column="id"/>
        <result property="studentId" column="student_id"/>
        <result property="name" column="name"/>
        <result property="college" column="college"/>
        <result property="major" column="major"/>
        <result property="classes" column="classes"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


</mapper>
