<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DcimsCompetitionMapper">

    <resultMap type="com.ruoyi.system.domain.DcimsCompetition" id="DcimsCompetitionResult">
        <result property="id" column="id"/>
        <result property="orderNum" column="order_num"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="pastName" column="past_name"/>
        <result property="website" column="website"/>
        <result property="term" column="term"/>
        <result property="annual" column="annual"/>
        <result property="organizer" column="organizer"/>
        <result property="responsiblePersonId" column="responsible_person_id"/>
        <result property="responsiblePersonName" column="responsible_person_name"/>
        <result property="college" column="college"/>
        <result property="innerTime" column="inner_time"/>
        <result property="provinceTime" column="province_time"/>
        <result property="nationalTime" column="national_time"/>
        <result property="stopTime" column="stop_time"/>
        <result property="budget" column="budget"/>
        <result property="appropriation" column="appropriation"/>
        <result property="teachingHours" column="teaching_hours"/>
        <result property="teachingHoursAttachment" column="teaching_hours_attachment"/>
        <result property="goal" column="goal"/>
        <result property="introduction" column="introduction"/>
        <result property="attachment" column="attachment"/>
        <result property="moneyAggregate" column="money_aggregate"/>
        <result property="workloadAggregate" column="workload_aggregate"/>
        <result property="personLimit" column="person_limit"/>
        <result property="teamLimit" column="team_limit"/>
        <result property="nextAuditId" column="next_audit_id"/>
        <result property="state" column="state"/>
        <result property="version" column="version"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

</mapper>
